<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rookie Prospects App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include("partials/header") %>

  <h1>Welcome to the NFL Rookie Prospects App!</h1>

  <a class="rookies-index-link" href="/rookies">
    <div class="index-link-text">Browse Rookies</div>
  </a>

  <%- include("partials/footer") %>
</body>
</html>
